{% extends 'halamankepalagudang/layout.html' %}

{% block title %}Daftar Pengguna{% endblock %}

{% block content %}

<div class="flex  mt-2 ml-10 ">
    <span class="text-2xl">
        Info Daftar Pengguna
    </span>
    
    <span class="ml-[570px] text-2xl">
        Nama Unit
    </span>
</div>
{% for row in pengguna %}
<hr class="mt-2">
<div class="ml-10 mt-3">
    <span class="text-xl font-semibold">{{ row.nama }}</span>
</div>
<div class="flex ml-6 mt-2">
    
    <span>NIP</span>
    <span class="ml-10">:</span>
    <span class="ml-2">{{ row.nip }} </span>
    <span class="ml-[570px] text-2xl">
        {{ row.namaunitkerja }}
    </span>
    
</div>

<div class="flex ml-6 mt-2">
    <span>No Telp</span>
    <span class="ml-3">:</span>
    <span class="ml-2">{{ row.nomor_tlp }}</span>
</div>
<div class="flex ml-6 mt-2">
    <span>Email</span>
    <span class="ml-[29px]">:</span>
    <span class="ml-2">{{ row.email }}</span>
</div>
<div class="flex ml-6 mt-2">
    <span>Posisi</span>
    <span class="ml-7">:</span>
    <span class="ml-2">Lokasi</span>
</div>
<div class="flex ml-6 mt-2">
    <span>Status</span>
    <span>:</span>
    <span>{{ row.nama_status }}</span>
</div>
<div class="flex ml-6 mt-2">
    <span>Jabatan</span>
    <span>:</span>
    <span>{{ row.nama_jabatan }}</span>
</div>
<br/>
<a href="/kepgud/daftarpengguna/aktifakun/{{ row.id_user }}" class="px-4 py-2 mx-2 text-sm text-white rounded-md bg-primary hover:bg-primary-dark focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark" role="button">Aktifkan</a>
<a href="/kepgud/daftarpengguna/nonaktifakun/{{ row.id_user }}" class="px-4 py-2 mx-2 text-sm text-white rounded-md bg-primary hover:bg-primary-dark focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark" role="button">Nonaktifkan</a>
{% endfor %}
{% endblock %}